# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk
*.aab

# Metro
.metro-health-check*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Android
android/
!android/.gitkeep

# iOS
ios/
!ios/.gitkeep

# Debug
*.log
.expo-shared/README.md
